<div class="header">
  <h3 class="title is-3">All Messages</h3>
</div>
<div class="convo-container">
  <table>
    <tbody>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.book.user_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
      <tr>
        <td><%= image_tag conversation.book.cover, :id => "book_cover_img" %></th></td>
        <td><%= conversation.book.title %></td>
        <td><%= link_to recipient.name, [conversation, :messages] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


    