<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Pass it on</h1>
        <p class="lead">Share the stories you love.</p>
      </div>
    </div>
  </div>
</header>

<section class="features-icons bg-light text-center">
  <h1>Read more with BookSwap</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Browse</h3>
            <p class="lead mb-0">Browse through available books or post one of your own</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Swap</h3>
            <p class="lead mb-0">Chat, meetup and swap!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Read</h3>
            <p class="lead mb-0">Read your new book</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section id="why">
  
  </section>
  
  <section id="how">
    
  </section>
