<body>
  <header class="masthead text-center">
    <div class="greeting container d-flex lign-items-center">
      <div class="row mx-auto">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 font-weight-light align-items-center">Pass it on</h1>
            <p class="mx-auto lead">Share the stories you love.</p>
            <div class="searchbar">
              <%= form_tag(search_path, method: :get, class: "form-inline") do %>
                <div class="form-group no-border">  
                  <%= search_field_tag :term, params[:term], placeholder: "Search books", class: "form-control" %>  
                </div>
                <button type="submit" class="btn btn-white btn-just-icon">
                  <i class="material-icons">search</i>
                </button>
                
              <% end %>
            </div>
      </div>
    </div>
  </header>