
<body>  
  <header class="masthead text-center">
    <div class="greeting container d-flex lign-items-center">
      <div class="row mx-auto">
        <div class="middle mx-auto text-center">
          <h1 class="mx-auto my-0 font-weight-light align-items-center slogan">Pass it on</h1>
            <p class="mx-auto lead"></p>
            <p class="line-1 anim-typewriter">Share the stories you love</p>
        </div>
      </div>
    </div>
    <%= button_to 'Browse all books', '/books', method: 'get', class: 'btn-3d blue' %>
  </header>
</body>      
          
