/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  padding-top: 60px;
}

.hidden {
  display: none
}

.card {
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
}

.row {
  align-self: center;
}

.book_cover_img {
  -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}

.book_cover_img:hover {
  position:relative;
  width:9.6em;
  height:auto;
  display:block;
}

.listing_details {
  padding-top: 100px;
  padding-left: 50px;
}

img {
  padding-right: 20px
}
  .suggestion-img {
    width: 60px;
    height: 60px;
  }
  .suggestion-title {
    font-weight: bold;
    padding-bottom: 5px;
  }
  
  .suggestion-author {
    font-size: 3.5mm;
  }

  .suggestion {
    border: 1px solid black;
    display: flex;
    padding: 5px;
  }

  .hide_info {
    display:none;
  }
  .suggestion-img {
      width: 60px;
      height: 60px;
  }
  .suggestion-title {
    font-weight: bold;
    padding-bottom: 5px;
    margin-right: 5px;
  }

  .suggestion-author {
    font-size: 3.5mm;
  }
  
  .suggestion {
    border: 1px solid black;
    display: flex;
    padding: 5px;
  }

  .sign {
    margin-top: 5px;
  }

  a.nav-link {
    margin: 10px !important;
    padding: 0 !important;
  }

  a {
    margin: 10px;
  }