/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  padding-top: 60px;
}

.hidden {
  display: none
}

.card {
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
}

.row {
  align-self: center;
}

.book_cover_img {
  -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}

.book_cover_img:hover {
  position:relative;
  width:9.6em;
  height:auto;
  display:block;
}

.listing_details {
  text-align: center;
}