/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
  padding-top: 60px;
}

 * {
  font-family: 'roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

#jumbotron1 {
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show-body {
  padding-top: 50px;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
}

.hidden {
  display: none
}

.card {
  display: flex !important;
  align-items: center !important;
  margin: 20px;
  border-radius: 20px;
}

.row {
  align-self: center;
}

.suggestion-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.suggestion-author {
  font-size: 3.5mm;
}

.suggestion {
  display: flex;
  padding: 5px;
}

.hide_info {
  display:none;
}

.suggestion-title {
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

.suggestion-author {
  font-size: 3.5mm;
}

.suggestion {
  border: 1px solid black;
  display: flex;
  padding: 5px;
}

.sign {
  margin-top: 5px;
}

 #descrip_click {
   margin-bottom: 40px !important;
 }
 
p {
  margin-top: -1;
}
h1 {
  margin-top: 40px !important;
  margin-left: 60px;
}
.my-4 {
  margin-top: 0 !important;
}
.container-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky; 
  bottom: 0;
}
#show_map {
  text-align: center;
  color: #fff !important;
  margin-top: 20px;
  text-decoration: none;
  background: #30a8ed;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 2s ease 2s;
  width: 140px;
  font-family: inherit;
}
  
#showmap:hover {
  background: #58c0fd;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#show_map:hover {
  background: #58c0fd;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.postal_code_ex {
    color: grey;
    opacity: 0.5;
}

a {
  margin-right: 10px;
}

#pac-container {
  display: none;
}

#pac-input {
  display: none;
}

.nav-link {
  font: rgba(0, 0, 0, 0.5);
}

.awesomplete {
  display: inline-block;
  position: relative;
  min-width: 18em;
  
  & mark {
    background: hsla(20, 70%, 60%, .5);
  }
}

.card-body {
  overflow: auto;
}

.card-footer:last-child {
 width: 100%;
 text-align: center;
}
