// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 60px;
}

.books {
  padding: 50px;
}

#map {
  height: 300px;
  width: 400px;
}

.books.row {
  padding-top:0!important;
}
#description_paragraph {
  width: 800px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
  width: 200px;
  border-right: 1px solid #D7DBDD;
  background-color: #FCFDFD;
  padding: 10px;
}

.card-title {
  justify-self: flex-start;
}

.books-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.books-new {
  display:flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 540px;
}

.swap-form {
  width: 100%;
}