.btn {
  background-color: #304363;
}

.upload_img_btn {
  color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #30a8ed;
    padding: 10px;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.upload_img_btn:hover {
  background: #58c0fd;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.header {
	background: white;
	padding: 30px;
	text-align: center;
}
.header h1 {
	font-weight: 300;
	display: inline;
}
h2 {
	color: #89867e;
	text-align: center;
	font-weight: 300;
}
.color {
	width: 350px;
	margin: 0 auto;
}
.color li {
	margin: 0 15px 0 0;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 100%;
}

/* 3D Main Page Button */

.btn {
	position: relative;
	border: 0;
	padding: 15px 25px;
	display: inline-block;
	text-align: center;
	color: white;
}


.btn-3d {
  border: none !important;
	position: relative;
	display: inline-block;
  font-size: 20px;
  font-family: inherit;
	padding: 10px 40px;
	color: white;
  border-radius: 6px;
  font-family: 'roboto', sans-serif !important;
	text-align: center;
	transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  text-decoration: none !important;
  height: 50px;
}

.btn-3d.blue:hover {background-color: #33435f;}

.btn-3d:active {
	top: 9px;
}

.btn-3d.blue {
	background-color: #304363;;
	box-shadow: 0 0 0 1px #304363 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 #304363,
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
	box-shadow: 0 0 0 1px #304363,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

