.form-control {
  margin-bottom: 10px !important;
  border-radius: 0 !important;
  height: 3rem !important;
}

#mylist { 
  min-width: 400px;
}

.form-control::placeholder {
 opacity: 0.2 !important;
}

#book_book_condition {
  margin-bottom: 10px !important;
  font-size: 1.2em;
}

#searchbar {
  padding: 10px;
  width: 25rem;
  height: 2.5rem;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.fa-search {
  width: 20px;
  margin-left: 10px;
}

#searchbar::placeholder {
  opacity: 0.45;
}

