.form-control {
  margin-bottom: 10px !important;
  border-radius: 0 !important;
  height: 3rem !important;
}

.form-control::placeholder {
 opacity: 0.2 !important;
}

#book_book_condition {
  margin-bottom: 10px !important;
  font-size: 1.2em;
}

#searchbar {
  padding: 10px;
  width: 25rem;
  height: 2.5rem;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  border-radius: 5px;
}

.fa-search {
  width: 10%;
  margin-left: 5px;
}

#searchbar::placeholder {
  opacity: 0.45;
}

