.masthead {
  height: 91vh;
  min-height: 400px;
  background-image: url(../images/reading.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.greeting {
  padding-top: 100px;;
}

#searchbar {
  width: 30rem;
  height: 2.5rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}