.convo-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 1250px;
  max-width: 1250px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.convo-container2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  border: solid 1px black;
}

.right {
  float: right;
  margin: 50px;
}

.left {
  float: left;
  margin: 50px;
}

.container-msg {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#msg-footer {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 90px;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.btn9 {
  margin-bottom: 45px;
  margin-left: 35px;
}

.msg-input {
  width: 70%;
  border-radius: 4px;
}

.overflow {
  overflow: auto;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  height: 400px;
}

.msg-bar {
  position: relative;
  position: fixed;
  bottom: 0;
}

.msg {
  float: right;
}

.card_card-profile {
  height: 300px;
  padding-left: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-profile {
  height: 300px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header2 {
  padding-top: 50px;
  text-align: center;
}