nav {
  white-space: nowrap;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.548);
  color: white;
  background-color: #699DD1;
  border-bottom: 5px solid #6191C2;
  border-radius: 0 0 15px 15px;
}


.navbar-brand {
  font-size: xx-large;
  font-weight: bolder;
}

.user-info {
  padding: 15px 0;
  line-height: 20px;
}
