<footer class="footer footer-default bg-light" >
  <div class="container-footer"> 
    <div>
        &copy; BookSwap
        <script>
            document.write(new Date().getFullYear())
        </script>
    </div>
  </div>
</footer>